html {
  font-size: 16px;
}

#Page {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* Section - Header */

#header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  height: 4rem;
}

#logo {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  flex-grow: 1;
  font-size: 2rem;
  margin-left: 1.5rem;
}

#logo img {
  height: 2.5rem;
  width: auto;
}

nav span {
  padding-left: 1rem;
}

#logo span {
  font-weight: bold;
}

nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-right: 1.5rem;
}

/* Section - Start Here */

#start {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#Startsection {
  background-color: lightgrey;
}

#startimage {
  padding: 1.5rem 2rem;
}

#startimagecontain {
  max-width: 60%;
}

#starttextcontain {
  max-width: 250px;
}

#startimage img {
  width: 100%;
  height: auto;
}

#starttext {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#starttext h1 {
  font-weight: bold;
  font-size: 2rem;
}

#starttext h2 {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: bold;
}

#startbutton h2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: center;
  color: white;
  background-color: grey;
}

/* Section - Practice & Articles */

/* Left section */
#sectionleftandright {
  display: flex;
  flex-direction: row;
}

#section2left {
  max-width: 60%;
  height: auto;
  padding: 1.5rem 2rem;
  align-items: center;
}

#section2left img {
  max-width: 100%;
  height: auto;
}

#section2left h1 {
  padding-top: 2rem;
  padding-bottom: 1.5rem;
  font-weight: bold;
  font-size: 2rem;
}

#section2right h2 {
  font-weight: bold;
  padding-bottom: 0.5rem;
}

#section2right p {
  padding-bottom: 0.5rem;
}

#section2left p {
  padding-bottom: 1.5rem;
}

#section2left h5 {
  padding-bottom: 2rem;
}

/* Right section */
#section2right {
  max-width: 40%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Story 1 */

#story1 {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  padding-top: 1.5rem;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
}

#story1 .story1image {
  max-width: 35%;
  height: auto;
}

#story1 img {
  max-width: 100%;
  height: auto;
}

.story1text {
  max-width: 65%;
  height: auto;
  margin-left: 1rem;
}

/* Story 2 */

#story2 {
  display: flex;
  flex-direction: row;
  padding: 1rem;
}

#story2 .story2image {
  max-width: 35%;
  height: auto;
}

#story2 img {
  max-width: 100%;
  height: auto;
}

.story2text {
  max-width: 65%;
  height: auto;
  margin-left: 1rem;
}

/* Story 3 */

#story3 {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  background-color: lightgrey;
}

#story3 .story3image {
  max-width: 35%;
  height: auto;
}

#story3 img {
  max-width: 100%;
  height: auto;
}

.story3text {
  max-width: 65%;
  height: auto;
  margin-left: 1rem;
}

/* Start Learning */

#learning {
  background-color: lightgrey;
}

#learningblock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#learninggrid {
  padding-left: 4.5rem;
  padding-right: 4.5rem;
}

.header {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.header h1 {
  font-weight: bold;
  font-size: 2rem;
}

.learninggridtop {
  display: flex;
  flex-direction: row;
  max-width: 1200px;
}

.learninggridbottom {
  display: flex;
  flex-direction: row;
  max-width: 1200px;
}

.learnings {
  width: 33%;
  height: auto;
  margin-right: 2rem;
  margin-bottom: 2rem;
}

.learning1text,
.learning2text,
.learning3text,
.learning4text,
.learning5text,
.learning6text {
  padding-left: 1rem;
  padding-right: 1rem;
}

.learnings img {
  max-width: 100%;
  height: auto;
}

.learnings h2 {
  padding-top: 1rem;
  font-weight: bold;
}

.learnings h5 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-transform: uppercase;
}

.learnings p {
  padding-bottom: 1.5rem;
}

#learning1,
#learning2,
#learning3,
#learning4,
#learning5,
#learning6 {
  background-color: white;
}

/* Section - Thesis */

#thesiscontainer {
  display: flex;
  flex-direction: row;
}

.thesisstories {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.thesisleft {
  max-width: 60%;
  height: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.thesisright {
  max-width: 40%;
  height: auto;
}

.story1,
.story2 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.story1 {
  background-color: lightgrey;
}

.thesisstory1image,
.thesisstory2image {
  max-width: 35%;
  height: auto;
  padding: 1rem;
}

.thesisstory1image img {
  max-width: 100%;
  height: auto;
}

.thesisstory2image img {
  max-width: 100%;
  height: auto;
}

.thesisstory1text,
.thesisstory2text {
  max-width: 65%;
  height: auto;
  margin-left: 1rem;
}

#thesisheader {
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.thesislefttext h2 {
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
  font-weight: bold;
}

.thesislefttext p {
  padding-bottom: 2rem;
}

.thesisstories h2 {
  padding-bottom: 0.5rem;
  font-weight: bold;
}

footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 1.5rem;
  padding-top: 1rem;
}

.copywrite {
  flex-grow: 1;
}
