html {
  font-size: 16px;
}

#Page {
  display: flex;
  flex-flow: column wrap;
  font-family: 'Roboto Slab', serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* Section - Header */

#header {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  height: 4rem;
}

#logo {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  flex-grow: 1;
  font-size: 2rem;
  margin-left: 1.5rem;
}

#logo img {
  height: 2.5rem;
  width: auto;
}

nav span {
  padding-left: 1rem;
  color: black;
  text-decoration: none;
  transition: padding 100ms linear 100ms;
}

nav span:hover {
  background-color: #ff7b33;
  border-radius: 5px;
  padding: 0.5rem;
  text-align: center;
}

nav a {
  text-decoration: none;
}

#logo span {
  font-weight: bold;
}

nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-right: 1.5rem;
}

#headermobile {
  display: none;
}

@media only screen and (max-width: 710px) {
  #headermobile {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    height: 4rem;
  }

  #header {
    display: none;
  }

  #headermobile img:active {
    background-color: #ff7b33;
    border-radius: 5px;
    margin: 0.5rem;
  }
}

/* Section - Start Here */

#start {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#Startsection {
  background-color: rgba(21, 120, 204, 0.6);
}

#startimage {
  padding: 1.5rem 2rem;
}

#startimagecontain {
  max-width: 60%;
}

#starttextcontain {
  max-width: 250px;
}

#startimage img {
  width: 100%;
  height: auto;
}

#starttext {
  display: flex;
  flex-flow: column wrap;
}

#starttext h1 {
  font-weight: bold;
  font-size: 2rem;
  color: white;
}

#starttext h2 {
  padding: 1rem 0 1rem 0;
  font-weight: 400;
  color: white;
}

#startbutton {
  border-radius: 10px;
}

#startbutton:hover {
  scale: 1.1 1.1;
}

#startbutton h2 {
  padding: 0.5rem 0 0.5rem 0;
  text-align: center;
  color: white;
  background-color: #ff7b33;
  border-radius: 10px;
  font-size: 1.5rem;
}

#startsectionmobile {
  display: none;
}

@media only screen and (max-width: 710px) {
  #Startsection {
    display: none;
  }

  #startsectionmobile {
    display: flex;
    flex-flow: column;
    background-color: rgba(21, 120, 204, 0.6);
  }

  .startimagemobile img {
    height: auto;
    max-width: 100%;
  }

  .starttextmobile h1 {
    padding: 2rem 0 2rem 0;
    font-weight: bold;
    font-size: 2rem;
    color: black;
  }

  .starttextmobile h2 {
    padding-bottom: 1.5rem;
    font-weight: 400;
    color: black;
  }

  .starttextmobile,
  .startbuttonmobile {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .startbuttonmobile {
    text-align: center;
    background-color: #ff7b33;
    padding: 0.5rem 0 0.5rem 0;
    margin-bottom: 2rem;
    color: white;
    border-radius: 10px;
    font-size: 1.5rem;
  }
}

/* Section - Practice & Articles */

/* Left section */
#sectionleftandright {
  display: flex;
  flex-direction: row;
}

#section2left {
  max-width: 60%;
  height: auto;
  padding: 1.5rem 2rem;
  align-items: center;
}

#section2left img {
  max-width: 100%;
  height: auto;
}

#section2left h1 {
  padding: 2rem 0 1.5rem 0;
  font-weight: bold;
  font-size: 2rem;
}

#section2right h2 {
  font-weight: bold;
  padding-bottom: 0.5rem;
}

#section2right p {
  padding-bottom: 0.5rem;
}

#section2left p {
  padding-bottom: 1.5rem;
}

#section2left h5 {
  padding-bottom: 2rem;
}

/* Right section */
#section2right {
  max-width: 40%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Story 1 */

#story1 {
  display: flex;
  flex-direction: row;
  padding: 1.5rem 1rem 1rem 1rem;
}

#story1 .story1image {
  width: 35%;
  height: auto;
}

#story1 img {
  max-width: 100%;
  height: auto;
}

.story1text {
  width: 65%;
  height: auto;
  margin-left: 1rem;
}

.story1text h2 {
  font-size: 1.5rem;
}

/* Story 2 */

#story2 {
  display: flex;
  flex-direction: row;
  padding: 1rem;
}

#story2 .story2image {
  width: 35%;
  height: auto;
}

#story2 img {
  max-width: 100%;
  height: auto;
}

.story2text {
  width: 65%;
  height: auto;
  margin-left: 1rem;
}

.story2text h2 {
  font-size: 1.5rem;
}

/* Story 3 */

#story3 {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  background-color: #ff7b33;
  border-radius: 10px;
}

#story3 .story3image {
  width: 35%;
  height: auto;
}

#story3 img {
  max-width: 100%;
  height: auto;
}

.story3text {
  width: 65%;
  height: auto;
  margin-left: 1rem;
}

.story3text h2 {
  font-size: 1.5rem;
}

#articlesmobile {
  display: none;
}

@media only screen and (max-width: 710px) {
  #articlesmobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 1rem 2rem 1rem;
  }

  #practice {
    display: none;
  }

  .articlemobile img {
    max-width: 100%;
    height: auto;
    padding-bottom: 1rem;
  }

  .article1mobiletext,
  .article2mobiletext,
  .article3mobiletext {
    padding: 0 0 4rem 1rem;
  }

  .articlemobile h2 {
    font-size: 1.5rem;
    font-weight: 400;
    padding-bottom: 0.5rem;
  }

  .articlemobile p {
    padding-bottom: 0.5rem;
  }
}

/* Start Learning */

#learning {
  background-color: rgba(21, 120, 204, 0.6);
}

#learningblock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#learninggrid {
  padding: 0 4.5rem 0 4.5rem;
}

.header {
  padding: 2rem 0 2rem 0;
}

.header h1 {
  font-weight: bold;
  font-size: 2rem;
  color: black;
  background-color: #ff7b33;
  border-radius: 10px;
  padding: 0.5rem;
  color: white;
}

.learninggrid {
  display: flex;
  flex-flow: row wrap;
  max-width: 1200px;
  align-content: center;
  justify-content: center;
}

.learnings {
  width: 30%;
  height: auto;
  margin-right: 2rem;
  margin-bottom: 2rem;
  box-shadow: 5px 5px 20px black;
}

.learnings:hover {
  scale: 1.1 1.1;
}

.learning1text,
.learning2text,
.learning3text,
.learning4text,
.learning5text,
.learning6text {
  padding: 0 1rem 0 1rem;
}

.learnings img {
  max-width: 100%;
  height: auto;
}

.learnings h2 {
  padding-top: 1rem;
  font-weight: bold;
  font-size: 1.5rem;
}

.learnings h5 {
  padding: 0.5rem 0 0.5rem 0;
  text-transform: uppercase;
}

.learnings p {
  padding-bottom: 1.5rem;
}

#learning1,
#learning2,
#learning3,
#learning4,
#learning5,
#learning6 {
  background-color: white;
}

#learningmobile {
  display: none;
}

@media only screen and (max-width: 710px) {
  #learningmobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #learning {
    display: none;
  }

  #learningmobilemenu {
    width: 100%;
    height: auto;
    color: white;
  }

  .learningmobileheader {
    padding: 2rem 0 1rem 0;
    font-weight: bold;
    font-size: 2rem;
  }

  .learningmobilemenu {
    background-color: #ff7b33;
    margin-bottom: 0.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 10px;
  }

  .learningmobilemenu:active {
    scale: 1.1 1.1;
  }

  .learningmobilemenu h2 {
    padding: 1rem 0 1.5rem 1rem;
    font-size: 1.5rem;
  }
}

/* Section - Thesis */

#thesiscontainer {
  display: flex;
  flex-direction: row;
}

.thesisstories {
  display: flex;
  flex-direction: column;
}

.thesisleft {
  max-width: 60%;
  height: auto;
  padding: 0 1.5rem 0 1.5rem;
}

.thesisright {
  max-width: 40%;
  height: auto;
}

.story1,
.story2 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.story1 {
  background-color: #ff7b33;
  border-radius: 10px;
}

.thesisstory1image,
.thesisstory2image {
  width: 35%;
  height: auto;
  padding: 1rem 0 1rem 1rem;
}

.thesisstory1image img {
  max-width: 100%;
  height: auto;
}

.thesisstory1text h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

.thesisstory2image img {
  max-width: 100%;
  height: auto;
}

.thesisstory1text,
.thesisstory2text {
  width: 65%;
  height: auto;
  margin-left: 1rem;
}

#thesisheader {
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  padding: 2rem 0 2rem 0;
}

.thesislefttext h2 {
  padding: 1.5rem 0 0.5rem 0;
  font-weight: bold;
  font-size: 1.5rem;
}

.thesisstory2text h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

.thesislefttext p {
  padding-bottom: 2rem;
}

.thesisstories h2 {
  padding-bottom: 0.5rem;
  font-weight: bold;
}

#thesismobile {
  display: none;
}

@media only screen and (max-width: 710px) {
  #thesismobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #thesis {
    display: none;
  }

  .thesisheader {
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    padding: 2rem 0 1rem 0;
  }

  .thesisvideo {
    padding-bottom: 1.5rem;
  }
}

/* Footer */

footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 0 0 1rem 1.5rem;
}

.copywrite {
  flex-grow: 1;
}

#footermobile {
  display: none;
}

@media only screen and (max-width: 710px) {
  #footermobile {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
  }

  .copyrightmobile {
    padding: 1rem 0 1rem 0;
  }

  #footer {
    display: none;
  }
}
